@model ProjetoDrogas.Models.Categoria

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Você realmente deseja apagar isso?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoriaId" />
        <input type="submit" value="Apagar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </form>
</div>
